.bg-hero-gradient {
  background: linear-gradient(to top, rgba(4, 50, 43, 0.7), rgb(0, 122, 85, 0.5));
}

.bg-login-gradient {
  background: linear-gradient(to bottom, rgba(80, 223, 202, 0.7), rgba(69, 130, 111, 0.5));
}