:root {
    --primary: rgb(0, 128, 128);
    --secondary: rgb(33, 86, 86);
    --dark: rgb(9, 21, 21);
    --light: white;
}

body {
    background: var(--light);
    margin: 0;
    padding: 0;
}

.cover {
    width: 100%;
}

.height-full {
    height: 100vh;
}

.hide-overflow {
    overflow: hidden;
}

.pad-1 {
    padding: 0.5rem;
}

.pad-2 {
    padding: 0.2rem;
}

.fixed {
    position: fixed;
}

.bring-front {
    z-index: 1000;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.smooth {
    transition: transform ease 0.1s;
}

/* special classes */
.glassmorphism-container {
    background-color: rgba(255, 255, 255, 0.713);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bg-white {
    background-color: white;
}