:root {
    --primary: rgb(0, 128, 128);
    --secondary: rgb(33, 86, 86);
    --dark: rgb(9, 21, 21);
    --light: white;
}

body {
    background: var(--light);
    margin: 0;
    padding: 0;
}

.cover {
    width: 100%;
    
}
.flex {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.flex-1 {
    flex:1;
}
.type-none{
    list-style-type: none;
}
.nav-links{
    color: var(--dark);
    text-decoration: none;
    font-weight: bold;
}
.nav-links :hover{
    color: var(--primary);
    transition: 4s;
}
.nav-list li{
    display: inline-block;
}
.pad-1 {
    padding: 0.5rem;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}


